* {
	font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

.header
{
    padding: 60px 0 75px 20px;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background: #020031 linear-gradient(45deg,#020031 0,#6d3353 100%);
}

.container
{
	max-width: 800px;
}

.main
{
	margin-top: 20px;
}

.message
{
	padding: 28px 8px;
	display: flex;
	max-width: 100%;
}

.message-avatar
{
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
	background-position: center top;
	margin-right: 15px;
	flex-shrink: 0;
}

.message-id
{
	color: grey;
	font-size: 0.9em;
    width: 100%;
    margin-top: 55px;
    text-align: center;
    display: inline-block;
}

.message-body
{
	vertical-align: top;
	font-size: 18px;
	flex-grow: 1;
}

.message-username
{
	color: blue;
}

.message-time
{
	font-size: 0.85em;
	color: grey;
}
.message-time:before
{
	content: "@";
}

.message-content
{
	white-space: pre-wrap;
	word-break: break-all;
}

.message-operate
{
	font-size: 0.8em;
	opacity: 0;
}
.message-operate:hover
{
	opacity: 1;
}

.leave-message-frame
{
	margin-top: 60px;
}

.form-group>div
{
	max-width: 300px;
	display: inline-block;
}

.user-info
{
	margin-bottom: 8px;
}

.user-avatar
{
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	background-position: center top;
	margin-right: 10px;
	display: inline-block;
}

.user-meta
{
	display: inline-block;
	vertical-align: top;
	font-size: 1.2em;
	color: red;
	padding-top: 10px;
}

.message-textarea
{
	padding: 10px;
	border-radius: 10px;
	outline: medium;
	font-size: 1.1em;
	resize: none;
}